Options -Indexes
ServerSignature Off
DirectoryIndex index.html index.php

<FilesMatch "(^\.|\.env$|\.sql$|\.log$)">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Deny from all
    </IfModule>
</FilesMatch>
